<h2>New movie</h2>
<h3>{{this.title}}</h3>
<h3>{{this.genre}}</h3>
<h3>{{this.plot}}</h3>
{{#each this.cast}}
	<h4>{{this.name}}</h4>
	<h4>{{this.occupation}}</h4>
	<h4>{{this.catchPhrase}}</h4>
{{/each}}